.row {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    flex-direction: row;
    z-index: 0;
}
.form {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    
}
.form label {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    color: rgb(65, 64, 64);
    
}
.form input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    margin-bottom:10px;
    font-size: 16px;
    background-color:rgb(39, 38, 38);
    color: white;
    border: none;
    

}
.form textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    resize: vertical;
    min-height: 250px;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    background-color:rgb(39, 38, 38);
    color: white;
    border: none;
    
}
.form button {
    display: flex;
    width: 30%;
    border: none;
    background-color: rgb(39, 38, 38);
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    color: white;
    transition: all 0.2s ease;
    margin-top: 15px;

}

.form button:hover{
    background-color:rgba(255, 255, 255, 0.6);
    cursor: pointer;
    color: rgb(211, 67, 0);
    border: 1px solid rgb(211, 67, 0);
}
input::placeholder, textarea::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    
}
input:focus, textarea:focus {
    outline: none;
    background-color: rgba(39, 38, 38, 0.8);
    box-shadow: 0 0 6px red;
}
